/* styles.css for template #124 
   spyka.net Webmaster */
body {
	 margin:0 auto;
	 padding:0; 
	 width:75%; 
	 height:100%; 
	 color: #666666;
         font-family: Lucida Grande,Tahoma,Arial,Helvetica,sans-serif;
	 background-color:#fff;
	 
	 
}
/* Top Bg */
#bg_back {
    background-color: #3B5998;
    height: 37px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-top: -15px;
    border-width: 1px 1px 0;
    border-style: solid solid none;
    

}

/* Global */
a { 
	font-weight:bold;
	text-decoration:none;
	color:#333;
	font-size:11px;


}
a:hover { 
	color:#000;
}
h1 {
	font-size: 1em;
	margin:10px 0 15px 0;
}
h2 {
	font-size: 15px;
        color: #666666;
        font-family: Lucida Grande,Tahoma,Arial,Helvetica,sans-serif;
	font-weight:normal;
	border-bottom:1px solid #CCC;
	font-weight: bold;
	
}
h3 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.9em;
	color:#333;
	border-bottom:1px solid #999999;
}
h4 {
	font-size:1.0em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:0;
	margin:0 0 0 10px;
	color:#77BA2E;
}
p {
	margin-left:450px;
	font-size:0.8em;
	padding-top:-500px;
}
ul {
	list-style-type:square;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	padding-left:30px;
	margin-left:30px;
	font-size:0.8em;
}
blockquote {
	border:1px solid #ddd;
	background-color:#eee;
	padding:4px;
	font-size:0.9em;
	font-style:italic;
}
	blockquote p {
		margin:3px;
		padding:0;
	}
/* Layout */
div#container {
	margin:auto;
	width:80%;
        background-color:#fff;
        border-right: 1px solid #999999;
}
div#page {
	width:75%;
	float:right;
	border-left:1px solid #999;
	padding-left:55px;
	padding:10px 55px 0px 0;
	padding:2.1em;
	padding-top:0px;
	font-size: 0.8em;
	
}


/* Navigation menu */
div#menu {
	height:0px;
	border-bottom:21px solid #627AAD;
	margin-top: 10px;
	width:667px;
	margin-left: auto;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	
	
  

}
	div#menu ul {
		padding:0;
		list-style-type:none;
		margin:0 0 0 10px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:0.75em;
	}
		div#menu ul li {
			float:right;
			display:inline;
			padding:0 7px;
			margin:0;
			
		}
			div#menu ul li a {
				display:block;
				float:left;
				font-weight:bold;
				padding:1px 15px 0 15px;
				height:2px;
				color:#999;
				text-decoration:none;
				border:none;
			}
			div#menu ul li a:hover {
				text-decoration:underline;
			}
			div#menu ul li a.current:hover {
				text-decoration:none;
			}
			div#menu ul li a.current {
				position:relative; /* for IE6 */
				color:#fff;
				margin-top:0px;
				padding-top:5px;
				height:20px;
				border-bottom:none;
				background-color:#627AAD;
			}
/* Content */
div#content {
	padding:0px 0;
	background-color:#;
	
}
/* Sidebar */
div#sidebar {
	width:150px;
	float:left;
	padding:0;
	margin:0;
	margin-top:-29px;
       background: #3B5998;
       height:30px;
}
	div#sidebar ul {
		padding:0;
		list-style-type:none;
		margin:10px 0 10px 0;
		/* border-top:1px solid #ccc; /* /* uncomment to add table-like border */
	}
		div#sidebar ul li {
			margin:0;
			padding:0;
			/* border-bottom:1px solid #ccc; /* /* uncomment to add table-like border */
		}
		
/* Footer */
div#footer {
	clear:both;
	text-align:center;
	margin:0;
	padding:0;
}
	div#footer p {
		padding:10px 0 10px 0;
		width:672px;
		border-top:1px solid #ccc;
		margin:0px -2px 0 0;
		font-size:0.7em;
		text-align:left;
		float:right;
	}
		div#footer p a {
			text-decoration:underline;
		}


@CHARSET "ISO-8859-1";

.CaptionClass{
	font-weight:bold;
}
.onOverClass{
	border-top:#D6D9DE solid 1px;
	background-color:#ECEEF4;
}
.onOutClass{
	border-top:#D6D9DE solid 1px;
	background-color:#ffffff;
}
.onClickClass{
	border:#3B59B6 solid 1px;
	background-color:#6D84B4;
	color:#FFFFFF;
}
.hscClickClass{
	background-color:#7288B7;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}
.hscOutClass{
	color:#6D84B4;
	background-color:#FFFFFF;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}


.area{
	border:0px #000000 solid;
	background-color:#ffffff;
	padding:0px;
	
}


/* add user */
#wrapper {
width:550px;
margin:10 auto;
text-align:left;
}

.infoWrapper {
	clear:both;
	margin-top:5px;
}

.infoTitle {
	color:#808080;
	float:left;
	width:230px;
	text-align:right;
	margin-right:5px;
}

.infoContent {
	padding-left:130px;
	text-align: left;
}

label {
	cursor:pointer;
}

.long {
	width:200px;
}

.short {
	height:50px;
}

/* end add user */



/* New confirmed styles */

/* Buttons */
/* Multiple classes used to make it easier to change styling per button later */
input.backbutton,
input.editbutton,
input.savebutton,
input.applybutton,
input.approvebutton,
input.updatebutton,
input.clearbutton,
input.inserttimebutton,
input.cancelbutton,
input.resetbutton,
input.addbutton,
input.delbutton,
input.rejectbutton,
input.exportbutton,
input.assignbutton,
input.viewbutton,
input.detailsbutton,
input.submitbutton,
input.searchbutton,
input.punchbutton {
	background:#7288B7 none repeat scroll 0 0 !important;
	border-color:#CCCC99 #666633 #666633 #CCCC99 !important;
	border-style:solid !important;
	border-width:1px !important;
	color:#FFFFFF !important;
	font-size: 11px;
	font-weight:bold !important;
	min-width:75px;
	width: auto;
	cursor: default;
}

input.plainbtn {
	background:#7288B7 none repeat scroll 0 0 !important;
	border-color:#CCCC99 #666633 #666633 #CCCC99 !important;
	border-style:solid !important;
	border-width:1px !important;
	color:#FFFFFF !important;
	font-size: 11px;
	font-weight:bold !important;
	min-width:100px;
	width: auto;
	cursor: default;
}

input.csvplainbtn {
	background:#7288B7 none repeat scroll 0 0 !important;
	border-color:#CCCC99 #666633 #666633 #CCCC99 !important;
	border-style:solid !important;
	border-width:1px !important;
	color:#FFFFFF !important;
	font-size: 11px;
	font-weight:bold !important;
	min-width:80px;
	width: auto;
	cursor: default;
}

input.longbtn {
	background:#7288B7 none repeat scroll 0 0 !important;
	border-color:#CCCC99 #666633 #666633 #CCCC99 !important;
	border-style:solid !important;
	border-width:1px !important;
	color:#FFFFFF !important;
	font-size: 11px;
	font-weight:bold !important;
	min-width:120px;
	width: auto;
	cursor: default;
}

input.extralongbtn {
	background:#7288B7 none repeat scroll 0 0 !important;
	border-color:#CCCC99 #666633 #666633 #CCCC99 !important;
	border-style:solid !important;
	border-width:1px !important;
	color:#FFFFFF !important;
	font-size: 11px;
	font-weight:bold !important;
	min-width:175px;
	width: auto;
	cursor: default;
}

input.backbuttonhov,
input.editbuttonhov,
input.savebuttonhov,
input.applybuttonhov,
input.approvebuttonhov,
input.inserttimebuttonhov,
input.updatebuttonhov,
input.clearbuttonhov,
input.cancelbuttonhov,
input.resetbuttonhov,
input.addbuttonhov,
input.delbuttonhov,
input.rejectbuttonhov,
input.exportbuttonhov,
input.assignbuttonhov,
input.viewbuttonhov,
input.detailsbuttonhov,
input.submitbuttonhov,
input.searchbuttonhov,
input.punchbuttonhov,
input.plainbtnhov,
input.longbtnhov,
input.extralongbtnhov {
	border-color: #c63 #c63 #930 #930 !important;
}

/* Back button */
a.backbutton {
	display:block;
	width:65px;
	height:20px;
	cursor: default;
	background: url(../pictures/btn_backdual.gif) no-repeat left top;
}
a.backbutton:hover {
	background-position: 0 -20px;
}
a.backbutton span {
	display:none;
}



#currentImage {
    border: 1px solid #ccc;
    cursor: pointer;
    margin: -2px 4px 14px 2px;
    padding: 2px;

}

.smallHelpText {
    color: black;
    font-size: 8pt;
}

img.floatRightClear { 
    float: right; 
    clear: right; 
    margin: 4px; 
    margin-top: -315px; 
    border: 1px solid #ccc;


}
img.floatLeftClear { 
    float: right; 
    clear: right; 
    margin: 4px; 


}


    
input:not([type=image]) {
	border: 1px solid #888888;
	font-size: 11px;
	background-color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	}
	
	
	

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 0px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../../../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../../images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid #cccccc;

	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}


table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../../images/sort_desc_disabled.png') no-repeat center right;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}


tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #ffffff;
	border: 1px solid #A19B9E;


}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}


/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #example tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}


/*
 * KeyTable
 */
table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

table.display tr.gradeA {
	background-color: #eeffee;
}

table.display tr.gradeC {
	background-color: #ddddff;
}

table.display tr.gradeX {
	background-color: #ffdddd;
}

table.display tr.gradeU {
	background-color: #ddd;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * End DataTables features
 */

